:root{
  --var-clr-blue:rgb(91, 203, 255);
  --var-clr-white:#fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head{
  font-size: 16px;
}

body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container{
  width: 80%;
  height: 80vh;
  border: 1px solid var(--var-clr-blue);
  border-radius: 8px;
  position: relative;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

button{
  background-color: var(--var-clr-blue);
  border: 3px solid var(--var-clr-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-previous{
  color: white;
  font-size: 1.9rem;
  position: absolute;
  top: 45%;
  left: -1.5%;
}

.btn-next{
  color: white;
  font-size: 1.9rem;
  position: absolute;
  top: 45%;
  right: -1.5%;
}

/* hover effect */
.btn-previous:hover{
  color: var(--var-clr-blue);
  background-color: var(--var-clr-white);
}

.btn-next:hover{
  color: var(--var-clr-blue);
  background-color: var(--var-clr-white);
}

